body{
    background-color: rgb(247, 236, 222);
}
h1{
    font-size: 50px;
    font-family: Pacifico, cursive;
    color: rgb(53, 46, 40);
}
h1::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 30%;
    left: 0px;
    bottom: 2px;
    background-color: rgb(254, 194, 96);
    z-index: -1;
    transition: 0.3s all;
}

h1:hover::before{
    height: 60%;
}

.bookmark-body {
    border-width: 2px 0px;
    border-style: dotted;
    border-color: rgb(53, 46, 40);
}

h2 {
    font-family: Righteous, cursive;
    font-size: 25px;
    background-image: linear-gradient(to right, rgb(60, 165, 92), rgb(181, 172, 73));
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.bookmark-body button{
    background-color: #d1512d;
    color: white;
}
.bookmark-body button:hover{
    background-color: #bb4120;
    color: white;
}
table tbody .btnVisit{
    background-color: #9eb23b;
}
table tbody .btnVisit:hover{
    background-color: #8a9e23;
}
a{
    text-decoration: none;
    color: white;
}
.box-conent {
    width: 500px;
    z-index: 10;
}
.box-conent p {
    font-family: "Bree Serif", serif;
    font-size: 21px;
    font-weight: bold;
    text-align: left;
    line-height: 1.3;
    color: #352e28;
}
.circles span {
    display: block;
    width: 20px;
    height: 20px;
    background-color: #8a9e23;
}
.circles span:nth-child(1) {
    background-color: #f15f5d;
}
.circles span:nth-child(2) {
    background-color: #febe2e;
}
.circles span:nth-child(3) {
    background-color: #4db748;
}
.rules i {
    color: #bb4120;
}